*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  line-height: 1.5;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
}

button,
.project {
  cursor: pointer;
}

.sidebar-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.project {
  margin: 0.5rem 0rem;
  border: 1px solid black;
  padding: 1rem 0.5rem;
}

.project:hover {
  background-color: beige;
}

.active {
  background-color: bisque;
}

header {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  border-right: 1px solid black;
  padding: 1rem 5rem 1rem 1rem;
}

.content {
  padding: 1rem 4rem;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
