*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

*:not(dialog) {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  line-height: 1.5;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
}

button,
.project {
  cursor: pointer;
}

.sidebar-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.project {
  margin: 0.5rem 0rem;
  border: 1px solid black;
  padding: 1rem 0.5rem;
}

.project:hover,
.active {
  background-color: bisque;
}

header {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  border-right: 1px solid black;
  padding: 1rem 5rem 1rem 0.3rem;
}

main {
  padding: 1rem;
}

header {
  padding: 2rem;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
}

.high {
  background-color: red;
}

.medium {
  background-color: yellow;
}

.low {
  background-color: cyan;
}

.done {
  border: 1px solid green;
}

h3 {
  font-size: 2rem;
  text-align: center;
}
